/* these are exactly the styles from body, pushed to the textarea */

textarea {
  color: rgb(47, 190, 53);
  background: rgb(51, 51, 51);
  font-family: 'Courier New', Courier, mono;
}

textarea {
  line-height: 1.5;
}

/* this is required for ALL precis textareas to look nice. The color of the border should/could be here only */

textarea { border: 1px dotted #666; margin: -5px; padding: 4px; font-size: 100%; background: Transparent; outline: 0; }
button { margin-top: 10px; }

/* color and font-style is exactly from blockquote, pushed to the textarea */
/* the left and right padding on the textarea is a calculation: the margin on the blockquote plus the 4px padding on the standard textarea */
/* the margin on the form is a calculation: always 0 top and bottom, and the left/right margin on the blockquote */
blockquote textarea { color:#666;font-style:italic; padding-left: 22px; padding-right: 22px; }
blockquote form { margin: 0 -18px; }

/* these are exactly the styles from h1 thru h6, pushed to the textarea */
/* required to inherit: color, font-family, font-weight, text styles such as shadow  */
/* font-size is alread inherited using textarea { font-size: 100%; } */

h1 textarea, h2 textarea, h3 textarea, h4 textarea, h5 textarea, h6 textarea
{ color: #fff; font-family: Helvetica, Arial, sans-serif; }
h1 textarea, h2 textarea, h3 textarea, h4 textarea, h5 textarea, h6 textarea
{ text-shadow: #000 0px 1px 1px; }

h1 textarea {line-height:1;}
h2 textarea {}
h3 textarea {line-height:1;}
h4 textarea {line-height:1.25;}
h5 textarea {font-weight:bold;}
h6 textarea {font-weight:bold;}

/* and all the same ideas again for inputs: */
input { color: rgb(47, 190, 53); background: rgb(51, 51, 51); font-family: 'Courier New', Courier, mono; font-size:12px; }
input { border: 1px dotted #666; margin: -5px; padding: 4px 4px 4px 0; background: Transparent; outline: 0; }